/*
Custom CSS for my academic home page.

Author: Pooria Joulani
*/

hr {
    height: 0.1em;
    border-width: 0;
    color: gray;
    background-color: gray;
}

footer.footer {
    padding-top: 1.0em;
}

.section {
    padding-top: 1.0em;
    background: #fff;
}

div.photo-sidebar {
    padding-top: 2.0em;
    width: 100%;
}

.sidebar {
    position: static;
}

@media (min-width: 768px) {
    .sidebar {
	position: fixed;
	width: 158px; /* 632 * .25 */
    }
}
@media (min-width: 992px) {
    .sidebar {
	position: fixed;
	width: 213px; /* 852 * .25 */
    }
}
@media (min-width: 1200px) {
    .sidebar {
	position: fixed;
	width: 263px; /* 1052 * .25 */
    }
}
